html{
    scroll-behavior:smooth;
}

/* HAMBURGER MENU */
#show-menu{
    background: none;
    border: none;
    z-index: 10;
    position: fixed;
    right: 0;
    margin: 50px 30px 0 30px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#show-menu:hover{
    background-color: white;
}
#menu-svg{
    width: 3rem;
    height: 3rem;
}


#anchor-tag{
    transform: translateX(-30vw);
    z-index: 9;
    height: 100vh;
    background-color: #161a1d;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    padding-left: 50px;
    position: fixed;
    transition: all 1s;
}
.anchors{
    display: inline-block;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    color: grey;
    transition: all 0.2s;
}
.anchors:hover{
    color: white;
}
#anchor-img-div{
    transform: translateX(-100vw);
    position: fixed;
    transition: all 1s;
    height: 100vh;
    width: 70%;
    margin-left: 30%;
}
.anchor-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 9;
}
/* HAMBURGER MENU */



/* Hero DIV STYLE */
#hero{
    height: 100vh;
    padding: 50px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s;
}
#hero-msg{
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
}
.hero-para-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h1{
    font-size: 3vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.hero-para{
    font-size: 3vw;
    font-family: 'Lusitana', serif;
    font-weight: 400;
}
.hero-txt{
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
.opacity{
    opacity: 1 !important;
}
strong{
    color: rgba(255, 0, 0, 0.733);
    font-weight: bold;
}
#secondary-txt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#scroll-para{
    font-size: 21px;
}
#arrow-down{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#scroll-link{
    color: black;
}
/* Hero DIV STYLE */


/* SLIDE SHOW */
#slide-show{
    height: 95vh;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    z-index: 1;
}
.slideshow-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 2s;
    opacity: 0 ;
}
/* SLIDE SHOW */


/* PLANS DIV */
#plans{
    background-color: #ffd016;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 100px;
}
#plan-head, #plan-para-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    text-align: center;
    text-align: center;
}
#plan-heading{
    font-size: 5rem;
    font-family: 'Lusitana', serif;
    font-weight: 800;
}
.plan-para{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}
#offer-div{
    display: flex;
    margin-top: 30px;
    gap: 100px;
    align-items: center;
    align-items: flex-start;
    
}
.offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 50px;
    gap: 30px;
    max-width: 390px;
}
.offer-explain-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.benefits-div{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
h3{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}
.plan-name{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.benefit-para{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
}
.plan-svg{
    height: 36px;
    width: 30px;
    color: greenyellow;
}
.buy-now{
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    box-shadow: 5px 5px #ffd016;
    cursor: pointer;
}
.buy-now:active{
    box-shadow: 5px 5px #ffd016 inset;
}
/* PLANS DIV */




/* PLANS DIV */
#spacer-div{
    height: 20vh;
    background: transparent;
}
#explanation,#explanation-div, #explanation-para-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#explanation{
    gap: 100px;
    padding: 200px 100px;
    background-color: rgb(255, 228, 196);
}
#explanation-para-div{
    gap: 10px;
}
#explanation-div{
    gap: 20px;
}
#explain-heading {
    font-family: 'Lusitana', serif;
    font-size: 5rem;
    font-weight: 800;
}
.explain-para{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}


    /* Academic & MENTOR show case */
#academics, #coaches{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
#academics:hover .academic-img, #coaches:hover .coaches-img{
    transform: scale(1.03);
}
.academic-img-div, .coaches-img-div{
    width: 80vw;
    height: auto;
    overflow: hidden;
}
.academic-img,.coaches-img{
    transition: all 2s;
    width: 100%;
    height: auto;
}
#academic-div, #coaches-div{
    display: flex;
    gap: 5px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#academic-header, #coaches-header{
    color: purple;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}
#coaches-header{
    color: rgb(70, 130, 180);
}
.academic-para, .coaches-para{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
#centers{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
    color: 	rgb(128, 0, 128);
    background-color: rgba(128, 0, 128, 0.2);
    padding: 15px;
    border-radius: 20px;
}

#mentors{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
    color: 	rgb(70, 130, 180);
    background-color: rgba(0, 255, 127, 0.2);
    padding: 15px;
    border-radius: 20px;
}
/* PLANS DIV */

/* WHY DIV */
#why-div{
    background-color: #f7f2e4;
    display: flex;
    flex-direction: column;
    padding: 200px 100px;
    align-items: center;
    text-align: center;
    gap: 100px;
}
#motto-div, #why-para-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#why-heading{
    font-family: 'Lusitana', serif;
    font-size: 5rem;
    font-weight: 800;
}
#motto-img-div{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
}
.motto-img{
    height: 100%; 
    width: 100%;
    object-fit: contain;
}


/* PROGRAMS */
#programs{
    display: flex;
    flex-direction: column;
    background-color: #ffd016;
    padding: 200px 100px 50px 100px;
    text-align: center;
    gap: 100px;
    justify-content: space-between;
}
#footer-div, #footer-para{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#cta-btn{
    margin-top: 100px;
    border:1px solid black;
    background: none;
    padding: 25px 50px;
    font-size: 2rem;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.2s;
}
#cta-btn:hover{
    background-color: white;
    border:1px solid white;
}
#contact-us{
    display: flex;
    justify-content: space-between;
}
#socials-div{
    display: flex;
    gap: 10px;
}
.socials, #address{
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-family: 'Raleway', sans-serif;
    transition: all 0.5s;
}
.socials:hover, #address:hover{
    color: black;
}
/* PROGRAMS */